<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aky.akshay.algorithm.deve"
    android:versionCode="1"
    android:versionName="@string/version" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/holo.redesign" >
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAI_HkxaMNG8Hgf2ECtrKhUMSW0VvgRRxh4mR03QQ" />

        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" >
        </uses-library>

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:resource="@dimen/app_defaultsize_w" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:resource="@dimen/app_defaultsize_h" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:resource="@dimen/app_minimumsize_w" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:resource="@dimen/app_minimumsize_h" />

        <activity
            android:name="aky.akshay.algorithm.deve.Splash"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="aky.akshay.algorithm.deve.Algorithm"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aky.akshay.algorithm.deve.Splash" />
        </activity>
        <activity
            android:name="aky.akshay.algorithm.deve.Pythagoras"
            android:label="@string/title_activity_pythagoras"
            android:parentActivityName="aky.akshay.algorithm.deve.Algorithm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aky.akshay.algorithm.deve.Algorithm" />
        </activity>
        <activity
            android:name="aky.akshay.algorithm.deve.Armstrong"
            android:label="@string/title_arm"
            android:parentActivityName="aky.akshay.algorithm.deve.Algorithm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aky.akshay.algorithm.deve.Algorithm" />
        </activity>
        <activity
            android:name="aky.akshay.algorithm.deve.Factorial"
            android:label="@string/title_activity_factorial"
            android:parentActivityName="aky.akshay.algorithm.deve.Algorithm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aky.akshay.algorithm.deve.Algorithm" />
        </activity>       
        <activity
            android:name="aky.akshay.algorithm.deve.Quad"
            android:label="@string/title_activity_quad"
            android:parentActivityName=".Algorithm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Algorithm" />
        </activity>
        <activity
            android:name="aky.akshay.algorithm.deve.Ph"
            android:label="@string/title_activity_ph"
            android:parentActivityName="aky.akshay.algorithm.deve.Algorithm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aky.akshay.algorithm.deve.Algorithm" />
        </activity>
        <activity
            android:name="aky.akshay.algorithm.deve.Help"
            android:label="@string/title_activity_help"
            android:parentActivityName="aky.akshay.algorithm.deve.Algorithm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aky.akshay.algorithm.deve.Algorithm" />
        </activity>
        <activity
            android:name="aky.akshay.algorithm.deve.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_settings"
            android:parentActivityName="aky.akshay.algorithm.deve.Algorithm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aky.akshay.algorithm.deve.Algorithm" />
        </activity>
        <activity
            android:name="aky.akshay.algorithm.deve.MatrixEngine"
            android:label="@string/title_activity_mat_jama"
            android:parentActivityName="aky.akshay.algorithm.deve.Algorithm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aky.akshay.algorithm.deve.Algorithm" />
        </activity>
        <activity
            android:name="aky.akshay.algorithm.deve.Triangle"
            android:label="@string/title_activity_triangle"
            android:parentActivityName="aky.akshay.algorithm.deve.Algorithm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aky.akshay.algorithm.deve.Algorithm" />
        </activity>
        <activity
            android:name="aky.akshay.algorithm.deve.QuickStart"
            android:label="@string/title_activity_quick_start" >
        </activity>
        <activity
            android:name="aky.akshay.algorithm.deve.Scalc"
            android:label="@string/title_activity_scalc"
            android:parentActivityName="aky.akshay.algorithm.deve.Algorithm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aky.akshay.algorithm.deve.Algorithm" />
        </activity>
        <activity
            android:name="aky.akshay.algorithm.deve.BMI"
            android:label="@string/title_activity_bmi"
            android:parentActivityName="aky.akshay.algorithm.deve.Algorithm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aky.akshay.algorithm.deve.Algorithm" />
        </activity>
        <activity
            android:name="aky.akshay.algorithm.deve.UnitConverter"
            android:label="@string/title_activity_unit_converter"
            android:parentActivityName="aky.akshay.algorithm.deve.Algorithm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aky.akshay.algorithm.deve.Algorithm" />
        </activity>
        <activity
            android:name="aky.akshay.algorithm.conversion.Angle"
            android:label="@string/title_activity_angle"
            android:parentActivityName="aky.akshay.algorithm.deve.UnitConverter" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aky.akshay.algorithm.deve.UnitConverter" />
        </activity>
        <activity
            android:name="aky.akshay.algorithm.conversion.Area"
            android:label="@string/title_activity_area"
            android:parentActivityName="aky.akshay.algorithm.deve.UnitConverter" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aky.akshay.algorithm.deve.UnitConverter" />
        </activity>
        <activity
            android:name="aky.akshay.algorithm.conversion.Current"
            android:label="@string/title_activity_current"
            android:parentActivityName="aky.akshay.algorithm.deve.UnitConverter" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aky.akshay.algorithm.deve.UnitConverter" />
        </activity>
        <activity
            android:name="aky.akshay.algorithm.conversion.Distance"
            android:label="@string/title_activity_distance"
            android:parentActivityName="aky.akshay.algorithm.deve.UnitConverter" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aky.akshay.algorithm.deve.UnitConverter" />
        </activity>
        <activity
            android:name="aky.akshay.algorithm.conversion.Energy"
            android:label="@string/title_activity_energy"
            android:parentActivityName="aky.akshay.algorithm.deve.UnitConverter" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aky.akshay.algorithm.deve.UnitConverter" />
        </activity>
        <activity
            android:name="aky.akshay.algorithm.conversion.Force"
            android:label="@string/title_activity_force"
            android:parentActivityName="aky.akshay.algorithm.deve.UnitConverter" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aky.akshay.algorithm.deve.UnitConverter" />
        </activity>
        <activity
            android:name="aky.akshay.algorithm.conversion.NSC"
            android:label="@string/title_activity_nsc"
            android:parentActivityName="aky.akshay.algorithm.deve.UnitConverter" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aky.akshay.algorithm.deve.UnitConverter" />
        </activity>
        <activity
            android:name="aky.akshay.algorithm.conversion.Power"
            android:label="@string/title_activity_power"
            android:parentActivityName="aky.akshay.algorithm.deve.UnitConverter" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aky.akshay.algorithm.deve.UnitConverter" />
        </activity>
        <activity
            android:name="aky.akshay.algorithm.conversion.Pressure"
            android:label="@string/title_activity_pressure"
            android:parentActivityName="aky.akshay.algorithm.deve.UnitConverter" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aky.akshay.algorithm.deve.UnitConverter" />
        </activity>
        <activity
            android:name="aky.akshay.algorithm.conversion.RadioActivity"
            android:label="@string/title_activity_radio"
            android:parentActivityName="aky.akshay.algorithm.deve.UnitConverter" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aky.akshay.algorithm.deve.UnitConverter" />
        </activity>
        <activity
            android:name="aky.akshay.algorithm.conversion.Temperature"
            android:label="@string/title_activity_temperature"
            android:parentActivityName="aky.akshay.algorithm.deve.UnitConverter" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aky.akshay.algorithm.deve.UnitConverter" />
        </activity>       
        <activity
            android:name="aky.akshay.algorithm.conversion.Time"
            android:label="@string/title_activity_time"
            android:parentActivityName="aky.akshay.algorithm.deve.UnitConverter" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aky.akshay.algorithm.deve.UnitConverter" />
        </activity>
        <activity
            android:name="aky.akshay.algorithm.conversion.Weight"
            android:label="@string/title_activity_weight"
            android:parentActivityName="aky.akshay.algorithm.deve.UnitConverter" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aky.akshay.algorithm.deve.UnitConverter" />
        </activity>
    </application>

</manifest>